
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.mask-group-Sn8 {
  width: 100%;
  height: 117rem;

  .wp-pusher-3X2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
    background-color: #f5f8fa;
    padding: 2.8rem 4rem 13.9rem 4rem;
    position: relative;
    align-items: center;
    display: flex;
    box-sizing: border-box;

    .nav-bar-G2Q {
      margin-bottom: 8.5rem;
      width: 100%;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-jyug-Psi {
        margin-bottom: 3rem;
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .wppusher-logo-copy-KWU {
          margin-right: 68.4rem;
          width: 20rem;
          height: 3.9rem;
          position: relative;
          background-size: 100% 100%;
          background-image: url('REPLACE_IMAGE:53686b0b40dbd20438d891369ef0f4b1d4154e57');
          flex-shrink: 0;
        }
        .navigation-CaG {
          margin-bottom: 0.1rem;
          height: 4rem;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-ysa4-8yi {
            box-sizing: border-box;
            padding: 1.1rem 4.4rem 1.2rem 0rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .download-1g8 {
              margin-right: 4.2rem;
              font-weight: 700;
              line-height: 1.2;
              color: #1d2c3c;
              white-space: nowrap;
              text-align: center;
              font-size: 1.4rem;
              letter-spacing: -0.001rem;
              font-family: Lato, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .learn-more-5AC {
              letter-spacing: -0.001rem;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 1.4rem;
              line-height: 1.2;
              color: #1d2c3c;
              flex-shrink: 0;
              margin-right: 4.5rem;
              font-weight: 700;
            }
            .pricing-naQ {
              letter-spacing: -0.001rem;
              color: #1d2c3c;
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.2;
              margin-right: 4.3rem;
              font-family: Lato, 'Source Sans Pro';
            }
            .help-76t {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.2;
              letter-spacing: -0.001rem;
              color: #1d2c3c;
              font-family: Lato, 'Source Sans Pro';
            }
          }
          .account-RtG {
            width: 9.1rem;
            height: 100%;
            line-height: 1.2;
            letter-spacing: -0.001rem;
            white-space: nowrap;
            justify-content: center;
            border: solid 0.2rem #646e7a;
            position: relative;
            font-size: 1.4rem;
            color: #1d2c3c;
            border-radius: 0.6rem;
            overflow: hidden;
            font-weight: 700;
            flex-shrink: 0;
            font-family: Lato, 'Source Sans Pro';
            display: flex;
            align-items: center;
            box-sizing: border-box;
          }
        }
      }
      .rectangle-SYU {
        background-color: #e0e5e9;
        flex-shrink: 0;
        width: 135.8rem;
        height: 0.2rem;
      }
    }
    .auto-group-feoe-mKr {
      width: calc(100% - 46.2rem);
      height: 84.5rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 24.6rem 0rem 21.6rem;

      .panel-Uzx {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 89.2rem;
        height: 84.5rem;
        position: absolute;
        left: 0.6rem;
        top: 0;

        .auto-group-tx6l-o1e {
          margin-bottom: 3.3rem;
          width: 100%;
          height: 79.5rem;
          display: flex;
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.049082879), 0 1.5rem 3.5rem rgba(42, 63, 78, 0.0955049843);
          flex-shrink: 0;
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.6rem;

          .auto-group-cdfa-vc4 {
            margin: 4.1rem 0rem 4.69rem 0rem;
            width: 58rem;
            height: calc(100% - 8.7899rem);
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .title-dWU {
              margin-bottom: 3.4rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .checkout-z68 {
                font-size: 3rem;
                font-weight: 400;
                line-height: 1.2;
                color: #1d2c3c;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 0rem 4.2rem 4.8rem;
              }
              .rectangle-9-copy-5-W4U {
                width: 100%;
                height: 0.2rem;
                background-color: #f5f7fa;
                flex-shrink: 0;
              }
            }
            .section-basic-SD2 {
              flex-shrink: 0;
              margin-bottom: 3.3rem;
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;

              .auto-group-x1ug-NsN {
                box-sizing: border-box;
                padding: 0rem 4.7rem 4.1rem 4.9rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .basic-uMW {
                  margin: 0rem 26.3rem 1.3rem 0rem;
                  width: calc(100% - 26.3rem);
                  height: 3rem;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .item-1-S6Y {
                    flex-shrink: 0;
                    margin-right: 1rem;
                    width: 3rem;
                    height: 100%;
                    position: relative;

                    .item-1-NVz {
                      width: 1rem;
                      height: 2rem;
                      left: 1rem;
                      position: absolute;
                      top: 0.4rem;
                      text-align: center;
                      font-size: 1.6rem;
                      font-weight: 700;
                      line-height: 1.2;
                      letter-spacing: -0.0142rem;
                      color: #548bc5;
                      font-family: Lato, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                    .oval-2-rRA {
                      box-sizing: border-box;
                      border-radius: 1.5rem;
                      width: 3rem;
                      height: 3rem;
                      position: absolute;
                      left: 0;
                      top: 0;
                      border: solid 0.2rem #548bc5;
                    }
                  }
                  .your-basic-informati-9v4 {
                    font-weight: 700;
                    letter-spacing: -0.016rem;
                    font-family: Lato, 'Source Sans Pro';
                    color: #1d2c3c;
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 0.4rem;
                    font-size: 1.8rem;
                    line-height: 1.2;
                  }
                }
                .auto-group-ueep-4GL {
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;
                  margin-bottom: 1.5rem;
                  width: 100%;
                  height: 6rem;

                  .first-name-c2x {
                    border-radius: 0.4rem;
                    flex-shrink: 0;
                    margin-right: 3rem;
                    width: 22.7rem;
                    height: 100%;

                    .first-name-copy-2-x6p {
                      line-height: 1.2;
                      color: #1d2c3c;
                      font-family: Lato, 'Source Sans Pro';
                      white-space: nowrap;
                      margin-bottom: 0.7rem;
                      font-size: 1.4rem;
                      font-weight: 400;
                    }
                    .auto-group-5nap-5hE {
                      font-size: 1.4rem;
                      font-weight: 400;
                      line-height: 1.2;
                      font-family: Lato, 'Source Sans Pro';
                      background-color: #edeff2;
                      box-sizing: border-box;
                      width: 100%;
                      color: #646e7a;
                      white-space: nowrap;
                      border-radius: 0.4rem;
                      padding: 0.9rem 1.3rem 1rem 1.3rem;
                    }
                  }
                  .last-name-Yap {
                    flex-shrink: 0;
                    width: 22.7rem;
                    height: 100%;
                    border-radius: 0.4rem;

                    .last-name-copy-2-uRN {
                      line-height: 1.2;
                      color: #1d2c3c;
                      font-family: Lato, 'Source Sans Pro';
                      white-space: nowrap;
                      margin-bottom: 0.7rem;
                      font-size: 1.4rem;
                      font-weight: 400;
                    }
                    .auto-group-ntq4-EyS {
                      font-family: Lato, 'Source Sans Pro';
                      font-weight: 400;
                      padding: 0.9rem 1.3rem 1rem 1.3rem;
                      width: 22.6rem;
                      font-size: 1.4rem;
                      line-height: 1.2;
                      color: #646e7a;
                      white-space: nowrap;
                      background-color: #edeff2;
                      box-sizing: border-box;
                      border-radius: 0.4rem;
                    }
                  }
                }
                .email-71e {
                  width: 37rem;
                  border-radius: 0.5rem;
                  flex-shrink: 0;

                  .e-mail-copy-2-4xU {
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.2;
                    color: #1d2c3c;
                    font-family: Lato, 'Source Sans Pro';
                    white-space: nowrap;
                    margin-bottom: 0.7rem;
                  }
                  .auto-group-nczg-Pzk {
                    padding: 0.9rem 1.3rem 1rem 1.3rem;
                    width: 100%;
                    line-height: 1.2;
                    border-radius: 0.5rem;
                    box-sizing: border-box;
                    font-weight: 400;
                    color: #646e7a;
                    font-family: Lato, 'Source Sans Pro';
                    white-space: nowrap;
                    background-color: #edeff2;
                    font-size: 1.4rem;
                  }
                }
              }
              .rectangle-9-copy-10-UWQ {
                width: 100%;
                height: 0.2rem;
                background-color: #f5f7fa;
                flex-shrink: 0;
              }
            }
            .section-payment-d8Q {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-bottom: 3.9rem;
              width: 100%;
              align-items: center;

              .auto-group-htgp-A8L {
                box-sizing: border-box;
                padding: 0rem 4.8rem 4.1rem 4.9rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .payment-ta8 {
                  margin: 0rem 23.3rem 2.1rem 0rem;
                  width: calc(100% - 23.3rem);
                  height: 3rem;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .item-2-1Pr {
                    margin-right: 1rem;
                    width: 3rem;
                    height: 100%;
                    position: relative;
                    flex-shrink: 0;

                    .item-2-xZz {
                      top: 0.4rem;
                      text-align: center;
                      font-weight: 700;
                      line-height: 1.2;
                      color: #548bc5;
                      font-family: Lato, 'Source Sans Pro';
                      position: absolute;
                      left: 1rem;
                      font-size: 1.6rem;
                      letter-spacing: -0.0142rem;
                      white-space: nowrap;
                      width: 1rem;
                      height: 2rem;
                    }
                    .oval-2-copy-35e {
                      left: 0;
                      top: 0;
                      border: solid 0.2rem #548bc5;
                      box-sizing: border-box;
                      border-radius: 1.5rem;
                      width: 3rem;
                      height: 3rem;
                      position: absolute;
                    }
                  }
                  .your-payment-informa-xCc {
                    color: #1d2c3c;
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 0.4rem;
                    font-size: 1.8rem;
                    font-weight: 700;
                    line-height: 1.2;
                    letter-spacing: -0.016rem;
                    font-family: Lato, 'Source Sans Pro';
                  }
                }
                .credit-card-4mS {
                  flex-direction: column;
                  border-radius: 0.4rem;
                  flex-shrink: 0;
                  width: 100%;
                  display: flex;

                  .credit-card-copy-dJk {
                    line-height: 1.2;
                    color: #1d2c3c;
                    font-family: Lato, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 0.7rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                  }
                  .auto-group-xmnc-xrp {
                    background-color: #edeff2;
                    border-radius: 0.4rem;
                    flex-shrink: 0;
                    box-sizing: border-box;
                    padding: 0.9rem 1.6rem 1rem 1.3rem;
                    width: 100%;
                    display: flex;
                    align-items: center;

                    .card-number-tkU {
                      color: #646e7a;
                      font-family: Lato, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-right: 26.5rem;
                      font-size: 1.4rem;
                      font-weight: 400;
                      line-height: 1.2;
                    }
                    .mm-yy-2rg {
                      font-size: 1.4rem;
                      font-weight: 400;
                      line-height: 1.2;
                      color: #646e7a;
                      font-family: Lato, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      margin-right: 2.2rem;
                      text-align: right;
                    }
                    .cvc-kng {
                      white-space: nowrap;
                      flex-shrink: 0;
                      text-align: right;
                      font-size: 1.4rem;
                      font-weight: 400;
                      line-height: 1.2;
                      color: #646e7a;
                      font-family: Lato, 'Source Sans Pro';
                    }
                  }
                }
              }
              .rectangle-9-copy-11-sMW {
                width: 100%;
                height: 0.2rem;
                background-color: #f5f7fa;
                flex-shrink: 0;
              }
            }
            .purchase-nDa {
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 0rem 4.8rem 0rem 4.9rem;
              width: calc(100% - 9.7rem);

              .button-KDW {
                white-space: nowrap;
                display: flex;
                flex-shrink: 0;
                text-align: center;
                letter-spacing: -0.0396rem;
                color: #ffffff;
                background-color: #038e7d;
                height: 5.2rem;
                font-size: 1.8rem;
                line-height: 1.2;
                border-radius: 0.5rem;
                width: 100%;
                font-weight: 700;
                font-family: Lato, 'Source Sans Pro';
                align-items: center;
                justify-content: center;
              }
              .auto-group-e6yk-BFi {
                padding: 2.3rem 7.5rem 0rem 7.5rem;
                width: 100%;
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                box-sizing: border-box;

                .support-HpY {
                  height: 2rem;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;
                  margin-bottom: 3.1rem;
                  width: 100%;

                  .mask-EDz {
                    height: 2rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1rem;
                    width: 2rem;
                  }
                  .auto-group-i2bw-NLC {
                    margin: 0.1rem 0rem 0.2rem 0rem;
                    width: 30.3rem;
                    height: calc(100% - 0.3rem);
                    position: relative;
                    flex-shrink: 0;

                    .rectangle-11-copy-hNU {
                      background-color: #646e7a;
                      width: 9.4rem;
                      height: 0.1rem;
                      position: absolute;
                      left: 20.3rem;
                      top: 1.5rem;
                    }
                    .need-any-help-dont-phz {
                      display: flex;
                      width: 30.3rem;
                      white-space: nowrap;
                      letter-spacing: -0.001rem;
                      left: 0;
                      top: 0;
                      font-size: 1.4rem;
                      line-height: 1.171875;
                      color: #1d2c3c;
                      font-family: Roboto, 'Source Sans Pro';
                      align-items: baseline;
                      position: absolute;
                      font-weight: 400;
                      height: 1.7rem;

                      .need-any-help-dont-phz-sub-0 {
                        font-weight: 700;
                        line-height: 1.2;
                        letter-spacing: -0.001rem;
                        color: #1d2c3c;
                        font-family: Lato, 'Source Sans Pro';
                        font-size: 1.4rem;
                      }
                      .need-any-help-dont-phz-sub-1 {
                        color: #646e7a;
                        font-family: Lato, 'Source Sans Pro';
                        font-size: 1.4rem;
                        font-weight: 400;
                        line-height: 1.2;
                        letter-spacing: -0.001rem;
                      }
                    }
                  }
                }
                .poweredbystripe-BD6 {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-left: 0.3rem;
                  width: 9.2rem;
                  height: 2.0101rem;
                  object-fit: contain;
                }
              }
            }
          }
          .sidebar-Vja {
            width: 31.2rem;
            height: 100%;
            background-color: #1179bf;
            border-radius: 0 0.6rem 0.6rem 0;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 4.2rem 3.7rem 4.2rem 4.4rem;

            .side-bar-content-2Di {
              width: 100%;
              height: 61rem;
              display: flex;
              flex-direction: column;

              .plan-N2g {
                margin-bottom: 3.6rem;
                width: 15.8rem;
                overflow: hidden;
                position: relative;
                flex-shrink: 0;

                .freelancer-6jN {
                  line-height: 1.2;
                  letter-spacing: -0.001rem;
                  color: #ffffff;
                  font-family: Lato, 'Source Sans Pro';
                  white-space: nowrap;
                  margin: 0rem 0rem 0.5rem 0.2rem;
                  font-size: 2rem;
                  font-weight: 700;
                }
                .pricing-QVA {
                  display: flex;
                  align-items: center;
                  margin: 0rem 1.8rem 0.3rem 0rem;
                  width: calc(100% - 1.8rem);
                  overflow: hidden;
                  position: relative;

                  .item--wEC {
                    letter-spacing: -0.0015rem;
                    color: #ffffff;
                    font-family: Lato, 'Source Sans Pro';
                    white-space: nowrap;
                    margin: 0rem 0.6rem 1.7rem 0rem;
                    font-size: 2.4rem;
                    flex-shrink: 0;
                    font-weight: 700;
                    line-height: 1.2;
                  }
                  .year-SAx {
                    display: flex;
                    align-items: baseline;
                    font-size: 1.2rem;
                    color: #ffffff;
                    letter-spacing: -0.0015rem;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-weight: 400;
                    line-height: 1.171875;

                    .year-SAx-sub-0 {
                      font-size: 6rem;
                      font-weight: 300;
                      line-height: 1.2;
                      letter-spacing: -0.0015rem;
                      color: #ffffff;
                      font-family: Lato, 'Source Sans Pro';
                    }
                    .year-SAx-sub-1 {
                      font-size: 1.8rem;
                      font-weight: 700;
                      line-height: 1.2;
                      letter-spacing: -0.0015rem;
                      color: #ffffff;
                      font-family: Lato, 'Source Sans Pro';
                    }
                  }
                }
                .automatically-renews-MSL {
                  margin-left: 0.2rem;
                  line-height: 1.5;
                  letter-spacing: -0.0008rem;
                  font-family: Lato, 'Source Sans Pro';
                  max-width: 15.6rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  font-style: italic;
                  color: #ffffff;
                }
              }
              .details-egL {
                width: 17rem;
                overflow: hidden;
                position: relative;
                flex-shrink: 0;
                margin: 0rem 0rem 4.1rem 0.1rem;

                .auto-group-mhun-nXe {
                  width: 100%;
                  display: flex;
                  align-items: flex-start;
                  margin-bottom: 0.1rem;

                  .auto-group-c3ty-Xk8 {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    margin: 0.1rem 1.1rem 0rem 0rem;

                    .combined-shape-UQU {
                      vertical-align: top;
                      flex-shrink: 0;
                      margin-bottom: 1.6rem;
                      width: 2rem;
                      height: 2rem;
                      object-fit: contain;
                    }
                    .combined-shape-copy-R4p {
                      width: 2rem;
                      height: 2rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                    }
                  }
                  .use-on-5-client-site-ZRv {
                    flex-shrink: 0;
                    max-width: 13.9rem;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: -0.0008rem;
                    color: #ffffff;
                    font-family: Roboto, 'Source Sans Pro';

                    .use-on-5-client-site-ZRv-sub-0 {
                      letter-spacing: -0.0008rem;
                      color: #ffffff;
                      font-family: Lato, 'Source Sans Pro';
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1.5;
                    }
                    .use-on-5-client-site-ZRv-sub-1 {
                      color: #ffffff;
                      font-family: Lato, 'Source Sans Pro';
                      font-size: 1.6rem;
                      font-weight: 700;
                      line-height: 1.5;
                      letter-spacing: -0.0008rem;
                    }
                    .use-on-5-client-site-ZRv-sub-2 {
                      font-family: Lato, 'Source Sans Pro';
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 1.5;
                      letter-spacing: -0.0008rem;
                      color: #ffffff;
                    }
                  }
                }
                .combined-shape-copy-2-cHi {
                  width: 2rem;
                  height: 2rem;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
              .switch-A4L {
                margin: 0rem 0rem 4.1rem 0.2rem;
                width: 18.4rem;
                height: 5.1rem;
                position: relative;
                overflow: hidden;
                flex-shrink: 0;

                .need-20-client-sites-h4G {
                  height: 5.8rem;
                  line-height: 1.171875;
                  color: #ffffff;
                  font-family: Roboto, 'Source Sans Pro';
                  font-weight: 400;
                  letter-spacing: -0.0008rem;
                  width: 15.1rem;
                  position: absolute;
                  left: 0;
                  top: 0;
                  font-size: 1.6rem;

                  .need-20-client-sites-h4G-sub-0 {
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.2;
                    letter-spacing: -0.0008rem;
                    color: #ffffff;
                    font-family: Lato, 'Source Sans Pro';
                  }
                  .need-20-client-sites-h4G-sub-1 {
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.2;
                    letter-spacing: -0.0008rem;
                    color: #ffffff;
                    font-family: Lato, 'Source Sans Pro';
                  }
                  .need-20-client-sites-h4G-sub-2 {
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.2;
                    letter-spacing: -0.0008rem;
                    color: #ffffff;
                    font-family: Lato, 'Source Sans Pro';
                  }
                  .need-20-client-sites-h4G-sub-3 {
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.2;
                    letter-spacing: -0.0008rem;
                    color: #ffffff;
                    font-family: Lato, 'Source Sans Pro';
                  }
                  .need-20-client-sites-h4G-sub-4 {
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.2;
                    letter-spacing: -0.0008rem;
                    font-style: italic;
                    color: #ffffff;
                    font-family: Lato, 'Source Sans Pro';
                  }
                  .need-20-client-sites-h4G-sub-5 {
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.2;
                    letter-spacing: -0.0008rem;
                    color: #ffffff;
                    font-family: Lato, 'Source Sans Pro';
                  }
                  .need-20-client-sites-h4G-sub-6 {
                    color: #ffffff;
                    font-family: Lato, 'Source Sans Pro';
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.2;
                    letter-spacing: -0.0008rem;
                  }
                }
                .rectangle-11-4qr {
                  top: 4.7rem;
                  background-color: rgba(185, 245, 255, 0.5035665631);
                  opacity: 0.504;
                  width: 18rem;
                  height: 0.4rem;
                  position: absolute;
                  left: 0;
                }
              }
              .quote-b56 {
                width: 22.7rem;
                overflow: hidden;
                position: relative;
                flex-shrink: 0;

                .rectangle-3-YFE {
                  opacity: 0.201;
                  width: 22.4rem;
                  height: 0.2rem;
                  background-color: rgba(255, 255, 255, 0.2005208284);
                  margin-bottom: 4.1rem;
                }
                .ftp-is-horrible-to-d-s2c {
                  max-width: 22.5rem;
                  font-size: 1.8rem;
                  font-weight: 400;
                  line-height: 1.3333333333;
                  letter-spacing: -0.0009rem;
                  color: #ffffff;
                  font-family: Roboto, 'Source Sans Pro';
                  margin: 0rem 0rem 1.7rem 0.2rem;

                  .ftp-is-horrible-to-d-s2c-sub-0 {
                    font-size: 1.8rem;
                    font-weight: 400;
                    line-height: 1.3333333333;
                    letter-spacing: -0.0009rem;
                    font-style: italic;
                    color: #ffffff;
                    font-family: Lato, 'Source Sans Pro';
                  }
                  .ftp-is-horrible-to-d-s2c-sub-1 {
                    font-style: italic;
                    color: #ffffff;
                    font-family: Lato, 'Source Sans Pro';
                    font-size: 1.8rem;
                    font-weight: 700;
                    line-height: 1.3333333333;
                    letter-spacing: -0.0009rem;
                  }
                  .ftp-is-horrible-to-d-s2c-sub-2 {
                    font-size: 1.8rem;
                    font-weight: 400;
                    line-height: 1.3333333333;
                    letter-spacing: -0.0009rem;
                    font-style: italic;
                    color: #ffffff;
                    font-family: Lato, 'Source Sans Pro';
                  }
                }
                .auto-group-zua4-eb6 {
                  width: calc(100% - 9.6rem);
                  height: 4rem;
                  display: flex;
                  align-items: center;
                  margin-right: 9.6rem;

                  .bitmap-nBW {
                    background-color: #d8d8d8;
                    border-radius: 2rem;
                    flex-shrink: 0;
                    margin-right: 1.4rem;
                    width: 4rem;
                    height: 100%;

                    .auto-group-8ese-8WG {
                      width: 4rem;
                      height: 4rem;
                      position: relative;
                      object-fit: contain;
                      vertical-align: top;
                    }
                  }
                  .kirk-beard-rhA {
                    color: #ffffff;
                    font-family: Lato, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.2;
                    letter-spacing: -0.0008rem;
                  }
                }
              }
            }
          }
        }
        .wp-pusher-ivs-J3N {
          color: #636b6f;
          align-items: baseline;
          flex-shrink: 0;
          margin-left: 2.5rem;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2000000817;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;

          .wp-pusher-ivs-J3N-sub-0 {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2;
            color: #636b6f;
            font-family: Lato, 'Source Sans Pro';
          }
          .wp-pusher-ivs-J3N-sub-1 {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2;
            color: #31708f;
            font-family: Lato, 'Source Sans Pro';
          }
        }
      }
      .frame-1-PU8 {
        overflow: hidden;
        width: 10rem;
        height: 10rem;
        position: absolute;
        left: 0;
        top: 9rem;
      }
    }
  }
}
